*{
  margin: 0;
  padding: 0;  
}


#add{
    border: 1px solid black;
    font-size: 26px;
    background:red;
    width: 20px;
    cursor: pointer;
    height: 20px;
    margin-left: 20px;
    color: white;
}


.cadastro-cliente{
    font-family: 'Oswald', sans-serif;
}
.total-divida{
    width: 100%;
}
.form-box form{
    background-color: #bec7cc;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid #000;
    box-shadow: 1px 1px 4px 1px;
    width: 800px;
    height: 530px;
}

.content-box{
    display: flex;
}
.parte-2{
    margin-left: 20px;
}

.input{
    margin-top: 10px;
}

.parte-2 .input *:not(input){
    margin-top: 10px;
}

input[type="submit"] , input[type="button"]{
    cursor: pointer;
    width: 150px;
    color: white;
    background-color: blue;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 20px ;
    margin-top: 30px;
}

input[type="submit"]:hover{

    background-color: #0e0c71;

}

input:not(input[type="submit"]) , input:not(input[type="button"]){
        border: 1px solid #ccc;
        width: 300px;
        height: 30px;
}



.options{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}


.tela-inicial h1{
    text-shadow: 2px 3px 4px black;
    font-size: 40px;
    margin-top: 2%;
}
.tela-inicial{
    border: 1px solid;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.tela-inicial input{
    font-family: 'Hammersmith One', sans-serif;
    background-color: #41ccc0;
    color: white;
    cursor: pointer;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    margin-top: 20px;
}

.tela-inicial input:hover{
    background-color: #279c91;
}

.tela-inicial{
    background-color: #7299b3;
    font-family:'Oswald', sans-serif;
}


.hide{
    display: none !important;
}

#botao-voltar:hover{
    background: #a10707;
}
#botao-voltar{
    background: red;
}

#lista-cadastrados , #lista-cadastrados th{
    border-collapse: collapse;
    border: 1px solid black;
}

#lista-cadastrados {
    width:800px;
}

#lista-cadastrados th{
    width:1px ;

}

.lista-de-cadastrados{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.excluir{
    width: 80px !important;
    background: red !important;

}

.atualizar{
    width: 80px !important;
    background:chartreuse !important;
}





